* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Philosopher", sans-serif;
}
h1 {
  font-size: 2.6rem;
  cursor: pointer;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: black;
  text-decoration: none;
}
button {
  padding: 2rem 2rem;
  background: rgb(241, 224, 227);
  border: none;
  border-radius: 7px;
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Philosopher", sans-serif;
  transition: background 0.5s ease-in-out;
  text-align: center;
}

button:hover {
  background: pink;
}
/* Nav Section with HERO */

.main-head {
  background-color: rgb(241, 224, 227);
  color: black;
}

.user-id {
  display: flex;
  justify-content: center;
  width: auto;
  background: white;
  color: black;
  padding: 0.5rem 0.5rem;
  font-size: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#Logo {
  flex: 2 1 40rem;
  font-family: "Dancing Script", cursive;
}

.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/images/fall.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero p {
  text-decoration: none;
  padding: 1rem;
  margin: 5rem;
  text-align: center;
  width: 40%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  border-radius: 7px;
}
.hero a {
  color: white;
  font-style: italic;
}

.hero .button {
  color: black;
  font-style: normal;
}

/* Skills Section */

#Skills {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/images/rainbow.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.Skills-head {
  width: 90%;
  margin: auto;
}

.Skills-head h2 {
  padding: 1rem 0rem;
}

.Skills-head h3 {
  padding: 4rem 0rem;
}

.Skills-head ul {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.Skills-head li {
  display: inline;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 2rem;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  color: white;
  border-radius: 7px;
  margin-top: 2rem;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
  z-index: 1;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -0.5;
  opacity: 0.6;
  animation: cloudAnimation 3.3s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -9%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Projects section */

.Projects-head {
  background: rgb(241, 224, 227);
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.Projects-head h3 {
  padding: 1rem;
  text-transform: none;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1rem;
}
.card-icon {
  background-color: rgb(241, 224, 227);
}

#Contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("/images/rocks.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 50%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 5rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

.form-wrapper label {
  margin: 0rem 3rem;
  text-transform: none;
}

.form-wrapper button {
  width: 40%;
  padding: 2rem 2rem;
  margin-top: 8rem;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

footer {
  color: black;
  background: rgb(241, 224, 227);
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
  font-size: 8px;
}

footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}

/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  #Logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: 1;
  }
  .moving-cloud-2 {
    z-index: -0.5;
    top: 10%;
    opacity: 0.7;
  }
  .form-wrapper {
    width: 100%;
  }
  .footer-wrapper h5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.fa-brands.fa-linkedin {
  font-size: 20px;
  color: black;
}
.fa-solid .fa-envelope {
  font-size: 20px;
  color: black;
}
